#Controls whether the window goes away when you alt-tab out of Tekken 7
minimize_on_lost_focus = 1
#When set to 1, launches the overlay as a seperate, draggable window for fullscreen users
indepedent_window_mode = 0
#By default, transparency is off for Windows 7 users to improve performance. Default is on For Windows 8/10 users.
#transparency = 0
#transparency = 1

#Data for nerds extends the log to include several new and mostly useless catagories of frame data
data_for_nerds = 0
